<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ 'meta.default.title'|trans }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ 'meta.default.description'|trans }}{% endblock %}">
        {% block meta_robots %}{% endblock %}
        <link rel="canonical" href="{% block url %}{{ url('app_home') }}{% endblock %}">

        {{ include('_partials/meta.html.twig', {
            meta_title: block('title'),
            meta_description: block('description'),
            meta_url: block('url'),
            meta_og_image: block('og_image') is defined ? block('og_image') : '',
        }) }}

        {% block schema_page %}
            {{ include('_partials/schema/organization.html.twig') }}
        {% endblock %}

        <link rel="icon" href="{{ asset('medias/favicon/favicon.svg') }}" type="image/svg+xml">
        <link rel="icon" href="{{ asset('medias/favicon/favicon.ico') }}" sizes="32x32">
        <link rel="icon" href="{{ asset('medias/favicon/favicon-32x32.png') }}" type="image/png" sizes="32x32">
        <link rel="icon" href="{{ asset('medias/favicon/favicon-16x16.png') }}" type="image/png" sizes="16x16">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="flex min-h-full flex-col bg-white text-neutral-900">
        <a href="#main" class="sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:z-50 focus:rounded-md focus:bg-neutral-900 focus:px-4 focus:py-2 focus:text-white">
            {{ 'layout.skip_link'|trans }}
        </a>

        {% block header %}<twig:Layout:Header />{% endblock %}

        <main id="main" class="flex flex-1 flex-col">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}<twig:Layout:Footer />{% endblock %}
    </body>
</html>
